html, body {
  margin: 0;
  height:100%;
  width:100%;
  padding:0;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: url(/background.jpg) no-repeat; */
  background-size: 100%;
  background-position: bottom;
}
html {
  min-height: 100%;
}

.sign-in form, .sign-up form, .create-account form {
  padding: 20px;
  margin-top: 60px;
}
.sign-in form button, .sign-up form button, .create-account form button {
  margin: 20px 0;
}

.sign-in form h5, .sign-up form h5, .create-account form h5 {
  margin: 20px 0;
}



input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),

textarea.materialize-textarea:focus:not([readonly]){
  border-color: green;
  box-shadow: none;
}

.loader {
  /* margin-top: 8rem; */
  padding: 1rem
}