#pages.dropdown-content {
    left: inherit!important;
    top: inherit!important;
    width: inherit!important;
    border: none!important;
    z-index: 0 !important;
    outline: none!important;
}

.dollars {
    padding-left: 15px;
    padding-right: 15px;
}

button {
    margin-right: 10px;
  }

  .select-wrapper .caret {
      display: none;
  }

  .select-wrapper input.select-dropdown {
      border-bottom:  1px solid #9e9e9e;
      border-color: rgba(255, 255, 255, 0.5);
      border-width: 2px;
  }

  nav .nav-wrapper i {
    line-height: inherit !important;
  }

  .top-media-icon button {
      background-color: rgb(29, 233, 195) !important;
  }

  .notification-icon button {
    background-color: rgb(29, 233, 195) !important;
}

 .collection-item .avatar-wrapper.circle {
       overflow: inherit !important;
       height: 50px !important;
       width: 50px !important;
  }

  .collection-item .avatar-wrapper .avatar {
    left: 0px !important;
    height: 50px !important;
    width: 50px !important;
}

.pulse.btn-floating i {
    color: #fff !important;
  }

  nav .badge {
    position: relative;
    top: 20px;
    right: 20px;
    background-color: #999 !important;
}

.basic-top-break {
    padding-top: 10px !important;
}

:focus {
    outline: none !important;
  }