/* Radio Buttons
   ========================================================================== */
   [type="radio"]:not(:checked),
   [type="radio"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }
   
   [type="radio"]:not(:checked) + span,
   [type="radio"]:checked + span {
     color: rgba(255, 255, 255, 0.8);
     position: relative;
     padding-left: 35px;
     cursor: pointer;
     display: inline-block;
     height: 25px;
     line-height: 25px;
     font-size: 1rem;
     -webkit-transition: .28s ease;
     transition: .28s ease;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   [type="radio"] + span:before,
   [type="radio"] + span:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     margin: 4px;
     width: 16px;
     height: 16px;
     z-index: 0;
     -webkit-transition: .28s ease;
     transition: .28s ease;
   }
   
   /* Unchecked styles */
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after,
   [type="radio"]:checked + span:before,
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border-radius: 50%;
   }
   
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after {
     border: 2px solid rgba(255, 255, 255, 0.8);
   }
   
   [type="radio"]:not(:checked) + span:after {
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   
   /* Checked styles */
   [type="radio"]:checked + span:before {
     border: 2px solid transparent;
   }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border: 2px solid #26a69a;
   }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:after {
     background-color: #26a69a;
   }
   
   [type="radio"]:checked + span:after {
     -webkit-transform: scale(1.02);
             transform: scale(1.02);
   }
   
   /* Radio With gap */
   [type="radio"].with-gap:checked + span:after {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   
   /* Focused styles */
   [type="radio"].tabbed:focus + span:before {
     -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
             box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   /* Disabled Radio With gap */
   [type="radio"].with-gap:disabled:checked + span:before {
     border: 2px solid rgb(158, 158, 158);
   }
   
   [type="radio"].with-gap:disabled:checked + span:after {
     border: none;
     background-color: rgb(158, 158, 158);
   }
   
   /* Disabled style */
   [type="radio"]:disabled:not(:checked) + span:before,
   [type="radio"]:disabled:checked + span:before {
     background-color: transparent;
     border-color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled + span {
     color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled:not(:checked) + span:before {
     border-color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled:checked + span:after {
     background-color: rgb(158, 158, 158);
     border-color: #949494;
   }
   
   /* Checkboxes
      ========================================================================== */
   /* Remove default checkbox */
   [type="checkbox"]:not(:checked),
   [type="checkbox"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }
   
   [type="checkbox"] {
     /* checkbox aspect */
   }
   
   [type="checkbox"] + span:not(.lever) {
     color: rgba(255, 255, 255, 0.8);
     position: relative;
     padding-left: 35px;
     cursor: pointer;
     display: inline-block;
     height: 25px;
     line-height: 25px;
     font-size: 1rem;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   [type="checkbox"] + span:not(.lever):before,
   [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 18px;
     height: 18px;
     z-index: 0;
     border: 2px solid rgba(255, 255, 255, 0.8);
     border-radius: 1px;
     margin-top: 3px;
     -webkit-transition: .2s;
     transition: .2s;
   }
   
   [type="checkbox"]:not(.filled-in) + span:not(.lever):after {
     border: 0;
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   
   [type="checkbox"]:not(:checked):disabled + span:not(.lever):before {
     border: none;
     background-color: rgb(158, 158, 158);
   }
   
   [type="checkbox"].tabbed:focus + span:not(.lever):after {
     -webkit-transform: scale(1);
             transform: scale(1);
     border: 0;
     border-radius: 50%;
     -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
             box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
     background-color: rgba(0, 0, 0, 0.1);
   }
   
   [type="checkbox"]:checked + span:not(.lever):before {
     top: -4px;
     left: -5px;
     width: 12px;
     height: 22px;
     border-top: 2px solid transparent;
     border-left: 2px solid transparent;
     border-right: 2px solid #26a69a;
     border-bottom: 2px solid #26a69a;
     -webkit-transform: rotate(40deg);
             transform: rotate(40deg);
     -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
     -webkit-transform-origin: 100% 100%;
             transform-origin: 100% 100%;
   }
   
   [type="checkbox"]:checked:disabled + span:before {
     border-right: 2px solid rgb(158, 158, 158);
     border-bottom: 2px solid rgb(158, 158, 158);
   }
   
   /* Indeterminate checkbox */
   [type="checkbox"]:indeterminate + span:not(.lever):before {
     top: -11px;
     left: -12px;
     width: 10px;
     height: 22px;
     border-top: none;
     border-left: none;
     border-right: 2px solid #26a69a;
     border-bottom: none;
     -webkit-transform: rotate(90deg);
             transform: rotate(90deg);
     -webkit-backface-visibility: hidden;
             backface-visibility: hidden;
     -webkit-transform-origin: 100% 100%;
             transform-origin: 100% 100%;
   }
   
   [type="checkbox"]:indeterminate:disabled + span:not(.lever):before {
     color: rgb(158, 158, 158);
     border-right: 2px solid rgb(158, 158, 158);
     background-color: transparent;
   }

   [type="checkbox"]:disabled + span {
    color: rgb(158, 158, 158);
   }
   
   [type="checkbox"].filled-in + span:not(.lever):after {
     border-radius: 2px;
   }
   
   [type="checkbox"].filled-in + span:not(.lever):before,
   [type="checkbox"].filled-in + span:not(.lever):after {
     content: '';
     left: 0;
     position: absolute;
     /* .1s delay is for check animation */
     -webkit-transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
     transition: border .25s, background-color .25s, width .20s .1s, height .20s .1s, top .20s .1s, left .20s .1s;
     z-index: 1;
   }
   
   [type="checkbox"].filled-in:not(:checked) + span:not(.lever):before {
     width: 0;
     height: 0;
     border: 3px solid transparent;
     left: 6px;
     top: 10px;
     -webkit-transform: rotateZ(37deg);
             transform: rotateZ(37deg);
     -webkit-transform-origin: 100% 100%;
             transform-origin: 100% 100%;
   }
   
   [type="checkbox"].filled-in:not(:checked) + span:not(.lever):after {
     height: 20px;
     width: 20px;
     background-color: transparent;
     border: 2px solid rgba(255, 255, 255, 0.8);
     top: 0px;
     z-index: 0;
   }
   
   [type="checkbox"].filled-in:checked + span:not(.lever):before {
     top: 0;
     left: 1px;
     width: 8px;
     height: 13px;
     border-top: 2px solid transparent;
     border-left: 2px solid transparent;
     border-right: 2px solid #fff;
     border-bottom: 2px solid #fff;
     -webkit-transform: rotateZ(37deg);
             transform: rotateZ(37deg);
     -webkit-transform-origin: 100% 100%;
             transform-origin: 100% 100%;
   }
   
   [type="checkbox"].filled-in:checked + span:not(.lever):after {
     top: 0;
     width: 20px;
     height: 20px;
     border: 2px solid #26a69a;
     background-color: #26a69a;
     z-index: 0;
   }
   
   [type="checkbox"].filled-in.tabbed:focus + span:not(.lever):after {
     border-radius: 2px;
     border-color: rgba(255, 255, 255, 0.8);
     background-color: rgba(0, 0, 0, 0.1);
   }
   
   [type="checkbox"].filled-in.tabbed:checked:focus + span:not(.lever):after {
     border-radius: 2px;
     background-color: #26a69a;
     border-color: #26a69a;
   }
   
   [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):before {
     background-color: transparent;
     border: 2px solid transparent;
   }
   
   [type="checkbox"].filled-in:disabled:not(:checked) + span:not(.lever):after {
     border-color: transparent;
     background-color: #949494;
   }
   
   [type="checkbox"].filled-in:disabled:checked + span:not(.lever):before {
     background-color: transparent;
   }
   
   [type="checkbox"].filled-in:disabled:checked + span:not(.lever):after {
     background-color: #949494;
     border-color: #949494;
   }


   /* Radio Buttons
   ========================================================================== */
   [type="radio"]:not(:checked),
   [type="radio"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }
   
   [type="radio"]:not(:checked) + span,
   [type="radio"]:checked + span {
     color: rgba(255, 255, 255, 0.8);
     position: relative;
     padding-left: 35px;
     cursor: pointer;
     display: inline-block;
     height: 25px;
     line-height: 25px;
     font-size: 1rem;
     -webkit-transition: .28s ease;
     transition: .28s ease;
     -webkit-user-select: none;
        -moz-user-select: none;
         -ms-user-select: none;
             user-select: none;
   }
   
   [type="radio"] + span:before,
   [type="radio"] + span:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     margin: 4px;
     width: 16px;
     height: 16px;
     z-index: 0;
     -webkit-transition: .28s ease;
     transition: .28s ease;
   }
   
   /* Unchecked styles */
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after,
   [type="radio"]:checked + span:before,
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border-radius: 50%;
   }
   
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after {
     border: 2px solid rgba(255, 255, 255, 0.8);
   }
   
   [type="radio"]:not(:checked) + span:after {
     -webkit-transform: scale(0);
             transform: scale(0);
   }
   
   /* Checked styles */
   [type="radio"]:checked + span:before {
     border: 2px solid transparent;
   }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border: 2px solid #26a69a;
   }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:after {
     background-color: #26a69a;
   }
   
   [type="radio"]:checked + span:after {
     -webkit-transform: scale(1.02);
             transform: scale(1.02);
   }
   
   /* Radio With gap */
   [type="radio"].with-gap:checked + span:after {
     -webkit-transform: scale(0.5);
             transform: scale(0.5);
   }
   
   /* Focused styles */
   [type="radio"].tabbed:focus + span:before {
     -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
             box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
   }
   
   /* Disabled Radio With gap */
   [type="radio"].with-gap:disabled:checked + span:before {
     border: 2px solid rgb(158, 158, 158);
   }
   
   [type="radio"].with-gap:disabled:checked + span:after {
     border: none;
     background-color: rgb(158, 158, 158);
   }
   
   /* Disabled style */
   [type="radio"]:disabled:not(:checked) + span:before,
   [type="radio"]:disabled:checked + span:before {
     background-color: transparent;
     border-color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled + span {
     color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled:not(:checked) + span:before {
     border-color: rgb(158, 158, 158);
   }
   
   [type="radio"]:disabled:checked + span:after {
     background-color: rgb(158, 158, 158);
     border-color: #949494;
   }
 
/* Switch
   ========================================================================== */
.switch,
.switch * {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.switch label {
  cursor: pointer;
}

.switch label input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch label input[type=checkbox]:checked + .lever {
  background-color: #84c7c1;
}

.switch label input[type=checkbox]:checked + .lever:before, .switch label input[type=checkbox]:checked + .lever:after {
  left: 18px;
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: #26a69a;
}

.switch label .lever {
  content: "";
  display: inline-block;
  position: relative;
  width: 36px;
  height: 14px;
  background-color: rgba(0, 0, 0, 0.38);
  border-radius: 15px;
  margin-right: 10px;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  vertical-align: middle;
  margin: 0 16px;
}

.switch label .lever:before, .switch label .lever:after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 0;
  top: -3px;
  -webkit-transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease;
  transition: left 0.3s ease, background .3s ease, box-shadow 0.1s ease, transform .1s ease, -webkit-box-shadow 0.1s ease, -webkit-transform .1s ease;
}

.switch label .lever:before {
  background-color: rgba(38, 166, 154, 0.15);
}

.switch label .lever:after {
  background-color: #F1F1F1;
  -webkit-box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

input[type=checkbox]:checked:not(:disabled) ~ .lever:active::before,
input[type=checkbox]:checked:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(38, 166, 154, 0.15);
}

input[type=checkbox]:not(:disabled) ~ .lever:active:before,
input[type=checkbox]:not(:disabled).tabbed:focus ~ .lever::before {
  -webkit-transform: scale(2.4);
          transform: scale(2.4);
  background-color: rgba(0, 0, 0, 0.08);
}

.switch input[type=checkbox][disabled] + .lever {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.12);
}

.switch label input[type=checkbox][disabled] + .lever:after,
.switch label input[type=checkbox][disabled]:checked + .lever:after {
  background-color: #949494;
}
